<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../resources/css/style.css"  th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" type="text/css" href="../../../resources/css/header.css"  th:href="@{/resources/css/header.css}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" th:src="@{/web/jquery/2.1.0/jquery.js}"></script>
    <title>ipla － ipla</title>
</head>
<body th:fragment="body_header">
	<div id="join" style="height: 93px;background-color: #333; width: 100%;z-index: 100;">
	    <div class="row clearfix" style="width: 978px;padding-top: 15px;height:46px;">
	        <a class="block yahei floatL join" href="">加入我们【免费注册】</a>
	        <p class="floatL" style="color: #aaa;line-height: 46px;">这是中国第一家股权变现平台。</p>
	        <div class="floatR" style="position: relative">
	            <input class="button" type="text" value=""  placeholder="邮箱/手机号"  />
	            <input class="button" type="password" value=""  placeholder="密码"  />
	            <a style="position: absolute;top:48px;right:296px;color: #aaa;" href="">忘记密码</a>
	            <input  class="load yahei" type="submit" value="登陆" />
	        </div>
	    </div>
	</div>
	<div class="header pt40 clearfix">
	    <div style="position: absolute;top:0;left:0;width: 100%;">
	        <div class="row center" style="width: 978px;padding-top: 42px;">
	            <div class="rc3" style="background-color:#2c5aa6;height:58px;">
	                <div class="col fr yahei white" style="margin:7px 15px;line-height: 44px;">
	                    <a href="" class="white block floatL fs14 paddingR10">新浪微博▼</a><span class="fl">•</span>
	                    <a href="" class="white block floatL fs14 paddingR10 paddingL10">登陆</a><span class="fl">•</span>
	                    <a href="" class="white block floatL fs14 paddingR10 paddingL10" th:href="@{/user/index}" th:if="${session.user != null}" th:text="${session.user.name}">登陆</a><span class="fl">•</span>
	                    <a href="" class="white block floatL fs14 paddingL10">注册</a>
	                </div>
	                <div class="col fl yahei">
	                    <a href="" class="block fl" style="margin: 15px 15px 0 15px;"><img src="../../../resources/images/logo_03.png" th:src="@{/resources/images/logo_03.png}" /></a>
	                    <a href="" class="block fl tabs ml20 fs14 fwb select">首页</a>
	                    <a href="" class="block fl tabs fs14 fwb">交易大厅</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>