<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../resources/css/style.css"  th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" type="text/css" href="../../../resources/css/header.css"  th:href="@{/resources/css/header.css}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" th:src="@{/web/jquery/2.1.0/jquery.js}"></script>
    <title>Big Dream - IPOLA</title>
</head>
<body th:fragment="footer">
    <div style="background-color: #eeeeee;height:230px;">
	    <div class="row" style="width: 978px;">
	        <p class="fs14 pt30 pb30" style="border-bottom: dotted 2px #aaa;">请认真阅读以下法律提示：</p>
	        <p class="color6 marginT10">本网站展示信息不是面向公众的购买或出售证券的要约。本网站的注册会员皆为经过认证的成熟的投资者，本网站为会员之间购买或出售其所持有的未上市公司的股权或其他资产提供论坛和平台。
	            <br/>
	            <br/>
	            我们可能为会员提供交易文件的范本，但本网站并不：1）为会员的具体投资项目或具体交易提供咨询服务，2）参与或协助会员之间或会员与资产出售或发行方之间的谈判、交易或财产安排，3）为会员提供法律或交易方面的咨询意见，4）参与或投资于会员之间的买卖交易（本平台的员工也不会参与类似交易）。任何交易的清算和交割都不是由本平台完成。本网站不是证监会批准的交易所或证券公司。使用本网站意味着您已经认真阅读并接受本网站的服务条款、隐私保护政策及风险提示。</p>
	    </div>
	</div>
	<div style="background-color: #fff;height:206px;">
	    <div class="row" style="width: 978px;">
	        <p class="fs14 pt30 pb30">帮助指南</p>
	        <img class="floatR" style="margin-right: 40px;margin-top: -20px;" src="../../../resources/images/ipowx.jpg" th:src="@{/resources/images/ipowx.jpg}"/>
	        <div class="help" style="color:#2a5db0;">
	            <a class="fs14" href="">合格投资人&gt;&gt;</a><a class="fs14" href="">股票持有人&gt;&gt;</a><br/>
	            法规规则【<a href="">平台规则</a><a href="">服务条款</a><a href="" style="margin-right: 0;">国家法律法规</a>】<a href="">投资风险提示</a><a href="">注册认证问题</a><a href="">更多帮助</a><br/>
	            <a href=""> 新浪微博 @IPOLA</a><a href="">新浪微博 @IPOLA</a><a href="">微信 IPOLA</a>
	        </div>
	    </div>
	</div>
	<div style="border-top: 1px solid #eee;background-color: #fff;height: 95px;">
	    <div class="row" style="width:978px;padding-top: 30px;">
	        <div class="floatR">
	            <p class="colorgray" style="text-align: right">© 2012－2014 IPO.LA, All Rights Reserved<br/>
	                <a class="colorgray ml15" href="">关于我们</a><a class="colorgray ml15" href="">联系我们</a><a class="colorgray ml15" href="">网站地图</a><a class="colorgray ml15" href="">帮助中心</a><a class="colorgray ml15" href="">信息披露</a><a class="colorgray ml15" href="">风险提示</a><a class="colorgray ml15" href="">三方研究</a><a class="colorgray ml15" href="">媒体报道</a></p>
	        </div>
	        <img src="../../../resources/images/footerlogo.png" th:src="@{/resources/images/footerlogo.png}"/>
	    </div>
	</div>
</body>
</html>